@using Entity;
@model List<Product>
@{
    ViewData["Title"] = "ProductList";
}

<h1>Admin Products</h1>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <td style="width:20px">Id</td>
            <td>Name</td>
            <td style="width:120px">Image</td>
            <td style="width:30px">Price</td>
            <td style="width:220px"></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td><img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-xr-red-select-201809?wid=940&hei=1112&fmt=png-alpha&qlt=80&.v=1551226038669" alt="" width="80px"></td>
            <td>@item.Price</td>
            <td>
                <a href="/admin/products/@item.Id" class="btn btn-primary btn-sm mr-2">Edit</a>
                <form action="/admin/ProductDelete" method="post" style="display:inline;">
                    <input type="hidden" name="Id" value="@item.Id" />
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
               
            </td>
        </tr>
         }

        </tbody>
    </table>

