
@{
    ViewData["Title"] = "ResetPassword";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@using LastChance.Model;
@model ResetPasswordModel;


<div class="col-md-12">
    <h1>Reset Password</h1>
    <hr />

    <form action="/Account/ResetPassword" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden"  asp-for="Token" />
        <div class="form-group">
            <label for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


</div>
