
<div class="card">
    <div class="card-header">
        <h5>Search</h5>
    </div>
    <div class=" card-body">
        <form action="/search">
            <input name="q" type="text" class="form-control" placeholder="Search" />
            <button type="submit" class="btn btn-danger btn-block mt-2">Search</button>
        </form>
    </div>

</div>